<% include ./partials/navbar %>

<li><%= bookdata['volumeInfo']['title']  %></li>
<li><%= bookdata['volumeInfo']['authors']  %></li>
<li><%= bookdata['volumeInfo']['publisher']  %></li>
<li><%= bookdata['volumeInfo']['description']  %></li>
<li><%= bookdata['volumeInfo']['categories']  %></li>




<h1>This is the page</h1>
